/ExamenParcialUno/nbproject/private/
/ExamenParcialUno/build/
/ExamenParcialUno/web/node_modules
/Evidencia1WebApps/nbproject/private/
/Evidencia1WebApps/build/
/Actividad6WebApps/target/
/Actividad6WebApps/nbproject/private/
/Actividad6WebApps/build/
/Examen 2/nbproject/private/
/Examen 2/build/
/Examen 2/dist/
